<div class="container">
  <table class="table table-condensed table-hover">
    <tbody>
      <tr>
        <td>Category Id</td>
        <td>{{category?.categoryId}}</td>
      </tr>
      <tr>
        <td>Category Name</td>
        <td>{{category?.categoryName}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{category?.description}}</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/category/edit/', category.categoryId]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>