<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Northwind App</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/category']">Categories</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/product']">Products</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/orders']">Orders</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/shop']">Shop</a>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="btn btn-secondary" [routerLink]="['/cart']">
        <i class="fa fa-shopping-cart" style='font-size:24px'></i>
        <span style="margin-left: .5rem;" class="badge badge-light">{{noOfItems}}</span>
      </a>
    </li>
  </ul>
</nav>