<div class="container">
  <br />
  <form class="form-horizontal" (ngSubmit)="placeOrder()">
    <table class="table table-condensed table-hover">
      <tbody>
        <tr *ngFor="let o of order.orderDetails">
          <td>{{ o.productName }}</td>
          <td>{{ o.unitPrice | number: "1.2-5" | currency }}</td>
          <td>{{ o.quantity }}</td>
          <td align="right">
            {{ o.unitPrice * o.quantity | number: "1.2-5" | currency }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="4" align="right">
          Total Price : {{ totalPrice | number: "1.2-5" | currency }}
        </td>
      </tfoot>
    </table>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
