<div class="container">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th><a class="btn btn-primary" [routerLink]="['/category/new']">Add New</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of categories">
        <td>{{c.categoryId}}</td>
        <td>{{c.categoryName}}</td>
        <td>{{c.description}}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/category/', c.categoryId]">
            <i class="fa fa-pencil-square-o"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
