<div class="container">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Supplier</th>
        <th>Unit Price</th>
        <th><a class="btn btn-primary btn-sm" [routerLink]="['/product/new']">Add New</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of products">
        <td>{{c.productId}}</td>
        <td>{{c.productName}}</td>
        <td>{{c.categoryName}}</td>
        <td>{{c.supplierName}}</td>
        <td>{{c.unitPrice}}</td>
        <td>
          <a class="btn btn-primary btn-sm" [routerLink]="['/product/', c.productId]">
            <i class="fa fa-pencil-square-o"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
